<section class="component">
  <label for="tm-input" class="component-label">
    {{ label() }}

    @if (isRequired()) {
      <span class="required">*</span>
    }
  </label>

  @if (formControl(); as formControl) {
    <div
      class="component-input"
      [class.error]="formControl.errors && formControl.dirty"
    >
      @if (leftIconName(); as iconName) {
        <app-icon class="icon left" [name]="iconName"></app-icon>
      }
      <input
        id="tm-input"
        class="input"
        [type]="type()"
        [formControl]="formControl"
        [placeholder]="placeholder()"
      />

      @if (rightIconName(); as iconName) {
        <app-icon class="icon" [name]="iconName"></app-icon>
      }
    </div>
  }

  @if (error(); as error) {
    <span class="component-error">
      {{ error }}
    </span>
  }
</section>
