@use 'vars' as *;

.component {
  position: relative;

  &-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0.5;
    z-index: 2000;
  }

  &.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2001;
  }
}

.spin {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid $black;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2001;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}


.dots {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  z-index: 2001;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0%  {box-shadow: 20px 0 $black, -20px 0 #0002;background: $black }
  33% {box-shadow: 20px 0 $black, -20px 0 #0002;background: #0002}
  66% {box-shadow: 20px 0 #0002,-20px 0 $black; background: #0002}
  100%{box-shadow: 20px 0 #0002,-20px 0 $black; background: $black }
}
