<section class="page">
  <main class="page-main">
    <div class="logo mb-64">
      <app-logo></app-logo>
    </div>
    <h2 class="title mb-12">Log in to your account</h2>
    <p class="sub-title mb-32">Welcome back! Please enter your details</p>

    <app-input
      class="mb-20"
      [attr.data-cy]="'login-input'"
      [label]="labels.EMAIL"
      [placeholder]="placeholders.EMAIL"
      [formControl]="formGroup.get(controlNames.EMAIL) | controlConverter"
      [error]="emailErrorMessage"
    ></app-input>

    <app-input
      class="mb-24"
      [attr.data-cy]="'password-input'"
      [type]="'password'"
      [label]="labels.PASSWORD"
      [placeholder]="placeholders.PASSWORD"
      [formControl]="formGroup.get(controlNames.PASSWORD) | controlConverter"
      [error]="passwordErrorMessage"
    ></app-input>

    <button
      [attr.data-cy]="'sign-in-btn'"
      [disabled]="formGroup.invalid || isShowLoading()"
      appButton
      class="mb-32 sing-in"
      (click)="handleSubmit()"
    >
      @if (isShowLoading()) {
        Please wait...
        <app-loader [type]="'dots'"></app-loader>
      } @else {
        Sing in
      }
    </button>

    <div class="flex center">
      <p class="text">Don’t have an account?</p>
      <p class="text blue" (click)="handleRedirectToSingUp()">Sign up</p>
    </div>
  </main>
</section>
