@use 'vars' as *;
@use 'mixins' as *;

.component {
  min-width: 256px;
  padding: 16px;
  border: 1px solid $grey-3;
  border-radius: 8px;
  background-color: $white;
  cursor: pointer;
  position: relative;

  &.select {
    border-color: $blue;
  }

  &:hover {
    & .footer {
      transition: 0.2s ease-in-out;
      opacity: 1;
      height: 20px;
    }
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid $grey-3;
  left: -7px;
  top: -7px;

  transition: 0.2s ease-in-out;

  & .icon {
    opacity: 0;
  }

  &.select {
    @include svg-stroke($white);

    transition: 0.2s ease-in-out;
    background-color: $blue;

    & .icon {
      opacity: 1;
    }
  }
}

.actions {
  display: none;
  background-color: white;
}

.header {
  @include font-base(18px, 500, 28px, normal);

  color: $black;
}

.main {
  @include font-base(14px, 400, 20px, normal);

  color: $gray;
  word-break: break-all;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
  opacity: 0;
  height: 0;

  .icon {
    cursor: pointer;
    padding: 10px;

    &:hover {
      background-color: $blue-3;
      transition: 0.2s ease-in-out;
      border-radius: 6px;
    }
  }
}
