@import 'assets/styles/vars';
@import 'assets/styles/mixins';

.component {
  width: 256px;
  padding: 16px;
  border: 1px solid $grey-3;
  border-radius: 8px;
}

.header {
  @include font-base(18px, 500, 28px, normal);

  color: $black;
}

.main {
  @include font-base(14px, 400, 20px, normal);

  color: $gray;
  word-break: break-all;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  cursor: pointer;

  padding: 10px;

  &:hover {
    background-color: $blue-3;
    transition: 0.2s ease-in-out;
    border-radius: 6px;
  }
}
