<section class="modal">
  <header class="modal-header">
    <h3 class="title">Add a note</h3>
    <app-icon [name]="'push_pin'"></app-icon>
  </header>
  <main class="modal-main">
    <p class="title">Enter below your necessary details</p>

    <app-input
      [isRequired]="true"
      [label]="LABELS.NOTE_NAME"
      [placeholder]="PLACEHOLDER.ENTER_NOTE_NAME"
      [formControl]="formGroup.get(CONTROL_NAME.TITLE) | controlConverter"
    ></app-input>

    <app-textarea
      [isRequired]="true"
      [label]="LABELS.DESCRIPTION"
      [placeholder]="PLACEHOLDER.ENTER_DESCRIPTION"
      [height]="200"
      [formControl]="formGroup.get(CONTROL_NAME.DESCRIPTION) | controlConverter"
    ></app-textarea>
  </main>
  <footer class="modal-footer">
    <button
      class="btn"
      [color]="'blue-border'"
      appButton
      (click)="handleClose()"
    >
      Cancel
    </button>
    <button
      class="btn"
      [disabled]="formGroup.invalid"
      appButton
      (click)="handleAddNote()"
    >
      Add note
    </button>
  </footer>
</section>
