@use 'vars' as *;
@use 'mixins' as *;
@use 'components/modal' as *;

::ng-deep .note-modal {
  @include tm-modal(850px);

  .modal-main {
    display: grid;
    gap: 32px;
  }

  .title {
    @include font-base(14px, 400, normal, normal, $font-family-fixel);
    color: $grey-4;
  }
}
