@import "fonts";

$gray: #344054;
$blue: #1849A9;
$blue-click: #194185;
$blue-hover: #466fb2;
$blue-shadow: #EBEEFF;
$white: #FFF;
$red: #F04438;
$error: #FECDCA;
$gray-light: #D0D5DD;
$black: #101828;
$disabled: #F2F4F7;
$disabled-text: #98A2B3;
$grey-2: #475467;

// typography
$font-family-base: $satoshi;
$font-size-base: 14px;
$line-height-base: 20px;
