<section class="page">
  <app-loader *ngIf="isShowLoading()" [isOverlay]="true"></app-loader>

  <header class="header mb-40">
    <div>
      <h2 class="title mb-4">All notes</h2>
      <p class="sub-title">View your notes on this board</p>
    </div>
    <button class="button" appButton (click)="onOpenNoteModal()">
      <app-icon [name]="'plus'"></app-icon>
      Add note
    </button>
  </header>
  <app-input
    [leftIconName]="'magnifying_glass'"
    [placeholder]="placeholders.SEARCH"
  ></app-input>
  <main>
    <ng-container *ngIf="notes() as notes; else emptyTemp">
      @for (note of notes.model; track note._id) {
        <div>{{ note.title }}</div>
      }
    </ng-container>

    <ng-template #emptyTemp></ng-template>
  </main>
</section>
