<section class="page">
  <app-loader *ngIf="isShowLoading()" [isOverlay]="true"></app-loader>

  <header class="header mb-40">
    <div>
      <h2 class="title mb-4">All notes</h2>
      <p class="sub-title">View your notes on this board</p>
    </div>
    <button class="button" appButton (click)="onOpenNoteModal()">
      <app-icon [name]="'plus'"></app-icon>
      Add note
    </button>
  </header>
  <div class="mb-40">
    <app-input
      [leftIconName]="'magnifying_glass'"
      [placeholder]="placeholders.SEARCH"
    ></app-input>
  </div>
  <main class="example-boundary">
    <ng-container *ngIf="notes() as notes; else emptyTemp">
      @for (note of notes.model; track note._id) {
        <div cdkDragBoundary=".example-boundary" cdkDrag>
          <app-note-card [data]="note"></app-note-card>
        </div>
      }
    </ng-container>

    <ng-template #emptyTemp></ng-template>
  </main>
</section>
