@use 'components/page' as *;
@use 'vars' as *;
@use 'mixins' as *;

.page {
  @include page-wrapper();

  position: relative;
}

.header {
  display: flex;

  & .title {
    @include font-base(30px, 500, normal, normal);

    color: $black;
  }

  & .sub-title {
    @include font-base(16px, 400, normal, normal);

    color: $grey-4;
  }

  & .button {
    margin-left: auto;
    width: 120px;
    height: 40px;
  }
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drag-boundary-place {
  width: 100%;
  min-height: 100vh;
  border: 1px solid $blue-shadow;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;

}

.empty-place {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .icon {
    @include svg-stroke($disabled-text);
    @include svg-size(128px, 128px);
  }

  & .title {
    @include font-base(24px, 500, normal, normal);

    color: $black;
  }

  & .text {
    @include font-base(16px, 400, normal, normal);

    color: $grey-4;
  }
}
