<section class="page">
  <app-loader *ngIf="isShowLoading()" [isOverlay]="true"></app-loader>

  <header class="header mb-40">
    <div>
      <h2 class="title mb-4">All notes</h2>
      <p class="sub-title">View your notes on this board</p>
    </div>
    <button class="button" appButton (click)="onOpenNoteModal()">
      <app-icon [name]="'plus'"></app-icon>
      Add note
    </button>
  </header>
  <div class="mb-40">
    <app-input
      [leftIconName]="'magnifying_glass'"
      [placeholder]="PLACEHOLDERS.SEARCH"
    ></app-input>
  </div>
  <main class="drag-boundary-place">
    @if (notes(); as notes) {
      @if (notes.model.length) {
        @for (note of notes.model; track note._id; let idx = $index) {
          <app-note-card
            [dragClass]="'.drag-boundary-place'"
            [data]="note"
            (outputActions)="handleActionsNoteCard($event, idx)"
          ></app-note-card>
        }
      } @else {
        <aside class="empty-place">
          <app-icon class="icon mb-40" [name]="'folder_open'"></app-icon>
          <h4 class="title mb-20">Start by adding notes</h4>
          <p class="text">
            Any notes use in your life will live here.
            <br />
            Start note by adding your details
          </p>
        </aside>
      }
    }
  </main>
</section>
